h3{
    color: rgb(10, 10, 9);
   
    font-size: 30px;
    
}
h4{
    color: antiquewhite;
    background-color: black;
    font-size: 30px;
}
p{
    color: rgb(6, 7, 7);
   
    font-size: 20px;
}
.heading1{
    color: azure;
    background-color:red;
    font-size: 30px;
}
.heading2{
    color: brown;
    background-color: black;
    font-size: 30px;
}
.para{
    color: aquamarine;
    background-color: blueviolet;
    font-size: 25px;
}
#head1{
    color: chartreuse;
    background-color: black;
    font-size: 30px;
}
.head2{
    color: antiquewhite;
    background-color: aqua;
    font-size: 20px;
}
#head2{
    color: chocolate;
    background-color: aqua;
    font-size: 26px;
}
.head_index{
    color: blue;
}
.head_size{
    font-size: 30px;
}
#head_about{
    color: chartreuse;
}
#head_about_size
{
    font-size: 30px;
}
.t_transform_upper
{
   text-transform: uppercase;
}
.t_transform_lower
{
    text-transform: lowercase;
}
.t_transform_capatilize
{
    text-transform: capitalize;
}
.t_center
{
    text-align: center;
}
.t_right
{
    text-align: right;
}
.t_decor_underline
{
    text-decoration: underline;
}
.t_decor_overline
{
    text-decoration: overline;
}
.t_decor_line_through
{
    text-decoration: line-through;
}
.t_decor_overline_underline_line_through
{
    text-decoration: overline underline line-through;

}
.t_word_space
{
    word-spacing: 50px;
}
.t_letter_space{
    letter-spacing: 26px;
}
.para_line_height
{
    line-height: 30px;
}
.t_shadow{
    color: rgb(127, 255, 148);
    text-shadow: 4px 7px 0px rgb(185, 70, 4);
    font-size: 60px;
}
.t_shadow1{
    color: rgb(85, 1, 12);
    text-shadow: 9px 0px 3px rgb(3, 160, 42);
    font-size: 60px;
}
.t_shadow2{
    color: rgb(248, 74, 5);
    text-shadow: 0px 4px 4px rgb(71, 3, 134);
    font-size: 60px;
}
.img_b_shadow{
    box-shadow: 5px 8px 6px orangered;
    width: 300px;
    height: 200px;
}
.img1_b_shadow{
    box-shadow: 17px 14px 9px blue;
    width: 280px;
    height: 180px;
}
.img2_b_shadow{
    box-shadow: 9px 9px 5px green;
    width: 260px;
    height: 170px;
}

.img_border{
    border: 10px solid greenyellow;
    border-radius: 50px 70px;
}
.img1_border{
    border: 10px dashed rgb(2, 196, 147);
    
}
.img2_border{
    border: 9px dotted rgb(3, 92, 143);
}

.img3_border{
    border: 14px double black ;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.img4_border{
    border: 13px inset violet;
}
.img5_border{
    border: 15px outset rgb(253, 36, 7);
}
.img6_border{
    border: 13px groove rgb(245, 94, 120);
    border-radius: 30px 40px 30px 40px;
}
.img7_border{
    border: 12px groove rgb(145, 2, 2);
    border-color: red black;
}
.b_model{
    border: 6px solid blue;
    padding: 20px 40px;
    margin: 80px;

}
.b1_model{
    border: 8px double red;
    padding: 30px 60px;
    margin: 70px;
}
.b2_model{
    border: 11px dashed black;
    padding: 20px 40px;
    margin: 5px;

}
.b3_model{
    border: 15px dotted rgb(1, 82, 107);
    padding: 20px 40px;
    margin: 50px;

}
.b4_model{
    border: 14px groove rgb(104, 148, 2);
    padding: 40px 60px;
    margin: 75px;

}
.b5_model{
    border: 17px outset rgb(243, 114, 8);
    padding: 20px 40px;
    margin: 44px;

}
.b_img_model{
    border: 20px groove purple;
    padding: 50px 60ox;
    margin: 50px;
}
.f_family{
    font-family: 'Times New Roman', Times, serif;
}
.f1_family{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.f2_family{
    font-family:fantasy;
}
.f3_family{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.f4_family{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.f_weight{
    font-weight: 200px;
    font-size: 120px;
}
.bglinear{
    font-size: 60px;
    height: 200px;
    background: linear-gradient(orange,white,green);

}
.bgradial{
    font-size: 60px;
    height: 250px;
    background: radial-gradient(circle at left top,black,red,black,red,black,red);

}
.bgconic{
    height: 300px;
    background:conic-gradient(from 90deg,blue,rgb(216, 209, 209),blue,rgb(221, 205, 205),rgb(100, 8, 248));
}
.box{
    width: 200px;
    height: 200px;
    border: 6px solid blue;
    background-color: bisque;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    top: 35px;
    left: 300px;
}
.box3{
    position: absolute;
    top: 30px;
    left: 250px;
}
.box4{
    position: sticky;
    top: 40px;
}
.box5{
    position: fixed;
    bottom: 0px;
    right: 20px;
}
.flex_item{
    background-color: cadetblue;
    width: 170px;
    height: 170px;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_container{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex_container1{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex_item1{
    width: 200px;
    height: 200px;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    
}
h1:hover{
    color: brown;
    background-color: aqua;
    font-size: 80px;
    text-shadow: 3px 7px 5px black
}
.heading:hover{
    color: rgb(218, 87, 11);           
}
h3:active{
    color: chartreuse;
    font-size: 70px;
    font-family: cursive;
    cursor: pointer;
}
input:focus{
    background-color: aquamarine;
    color: black;
    border: 5px solid red;
}
a:visited{
    color: green;
}
p::first-letter{
    color: rgb(243, 33, 5);
    font-size: 50px;
}
::selection{
    color: brown;
    background-color: rgb(203, 243, 23);
}
p::first-line{
    color: crimson;
    font-size: 30px;
}
.box0{
    background-color: crimson;
    border-radius: 25px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 1s linear 500ms;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 9px;
    gap: 40px;
}
.box11:hover{
    transform: translate(125px, 125px);

}
.box22:hover{
    transform: translateX(40px);
}
.box33:hover{
    transform: translateY(50px);
}
.box44:hover{
    transform: rotate(360deg)
}
.box55:hover{
    transform: skewY(10deg);
}
.box66:hover{
    transform: scale(2);
}
.box77:hover{
    transform: rotate(360deg) scale(1,2) translateY(30px);
}