h3{
    color: antiquewhite;
    background-color: blueviolet;
    font-size: 30px;
    
}
h4{
    color: antiquewhite;
    background-color: black;
    font-size: 30px;
}
p{
    color: aqua;
    background-color: brown;
    font-size: 20px;
}
.heading1{
    color: azure;
    background-color:red;
    font-size: 30px;
}
.heading2{
    color: brown;
    background-color: black;
    font-size: 30px;
}
.para{
    color: aquamarine;
    background-color: blueviolet;
    font-size: 25px;
}
#head1{
    color: chartreuse;
    background-color: black;
    font-size: 30px;
}
.head2{
    color: antiquewhite;
    background-color: aqua;
    font-size: 20px;
}
#head2{
    color: chocolate;
    background-color: aqua;
    font-size: 26px;
}
.head_index{
    color: blue;
}
.head_size{
    font-size: 30px;
}
#head_about{
    color: chartreuse;
}
#head_about_size
{
    font-size: 30px;
}
.t_transform_upper
{
   text-transform: uppercase;
}
.t_transform_lower
{
    text-transform: lowercase;
}
.t_transform_capatilize
{
    text-transform: capitalize;
}
.t_center
{
    text-align: center;
}
.t_right
{
    text-align: right;
}
.t_decor_underline
{
    text-decoration: underline;
}
.t_decor_overline
{
    text-decoration: overline;
}
.t_decor_line_through
{
    text-decoration: line-through;
}
.t_decor_overline_underline_line_through
{
    text-decoration: overline underline line-through;

}